body {
    background-size: 2px 2px;
    background-image: linear-gradient(to right, grey 1px, transparent 1px),
      linear-gradient(to bottom, grey 1px, transparent 1px);
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
    display: flex;
    justify-content: center;
  }

  #container {
    width: 1000px;
    background-color: red;
    height: 100vh;
  }

  #title_bar {
    background-color: #646464;
    width: 100%;
  }

  #title_bar_image {
    margin-top: 10px;
    margin-left: 10px;
  }