/* #region Common rules */

:root{
  --clr-nav-g1: #E2B83F;
  --clr-nav-g2: #BA921B;
  --clr-footer: #646464;
  --clr-text-footer: #999999;

}


*,
::after,
::before {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}


body {
  background-size: 2px 2px;
  background-image: linear-gradient(to right, grey 1px, transparent 1px),
    linear-gradient(to bottom, grey 1px, transparent 1px);
}
/* #endregion Common rules */

/* #region utilities */

.container {
  width: 1000px;
 margin: auto;
}
.d_flex{
  display: flex;
  flex-wrap: wrap;
}

/* #endregion utilities */

/* #region header */

.title_bar {
  background-color: #646464;
  width: 100%;
}

#title_bar_image {
  margin-top: 10px;
  margin-left: 10px;
  width: 360px;
}

header nav{
  padding-top: 2px;
  height: 21px;
  width: 100%;
  background-image: linear-gradient(var(--clr-nav-g1),var(--clr-nav-g2));
}
header .subnav{
  height: 2px;
  width: 100%;
  background-color: var(--clr-nav-g1);
}
.header_list{
  height: 100%;
  padding: 0.5rem 1rem;
  color: white;

}
.point{
  width: 7px;
  aspect-ratio: 1/1;
  background-image: linear-gradient(var(--clr-nav-g1),var(--clr-nav-g2));
  border-radius: 50%;
  display: inline-block;
  margin: 0 0.25rem;

}

nav li{
  display: inline-block;
  font-size: 0.75rem;
}

ul{
  text-align: center;
  list-style: none;
}

.blackLine{
  height: 10px;
  border-left: 1px solid black;
  margin: 0 0.5rem;
  background-color: black;
}
/* #region main */
/* #endregion main */

/* #region footer */

footer{
  margin-top: -4px;
}
footer .container{
  height: 24px;
  background-color: var(--clr-footer);
  color: var(--clr-text-footer);
  text-align: center;
  font-size: 0.75rem;
  line-height: 24px;
}
/* #endregion footer */